site_name: z66's Notebook
repo_url: https://github.com/Blanchez66/Notebook
repo_name: Blanchez66/Notebook

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tasklist
  - pymdownx.superfences
  - pymdownx.tilde
plugins:
  - glightbox

theme:
  name: material
  favicon: assets/image/logo1.png
  icon:
    logo: material/book-edit
    repo: fontawesome/brands/github
    menu: fontawesome/solid/left-long
    admonition:
      note: material/notebook
      abstract: material/format-list-bulleted
      info: octicons/info-16
      tip: material/lightbulb-on
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: material/pencil-outline
      quote: fontawesome/solid/quote-right
      code: fontawesome/solid/code

  features:
    - content.code.copy
    - content.code.annotate
    - content.code.select
    - navigation.top
    - navigation.indexes
    - navigation.tabs

  palette:
    - scheme: default
      primary: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css
